.chat-screen {
    background-color: #e9c9c9;
}
.chat-screen .alt-header {
    background-color: #e9c9c9;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}
@keyframes fadein {
    0% {
        transform: none;
        opacity: 0;
    }
    1% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}
.main-chat {
    animation: fadein 0.3s linear;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat__timestamp {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 20px;
}
.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.message-row--own {
    justify-content: flex-end;
}
.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 10px;
}
.message__author {
    display: block;
    opacity: 0.8;
    font-size: 15px;
    margin-bottom: 7px;
}
.message__bubble {
    background-color: white;
    padding: 10px 10px;
    border-radius: 15px;
    border-top-left-radius: 0;
}
.message__info {
    display: flex;
    align-items: flex-end;
}
.message__time {
    opacity: 0.8;
    font-size: 12px;
    margin: 0 5px;
}
.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
}
.message-row--own .message__info {
    flex-direction: row-reverse;
}
.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
.reply .reply__column:first-child {
    width: 10%;
    
}
.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}
.reply i {
    opacity: 0.5;
}
.reply input {
    padding: 8px;
    width: 100%;
    border: var(--main-border);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: 2px;
    top: 2px;
}
.reply__column:last-child > i {
    right: 45px;
    top: 16.5px;
}
.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
    outline: none;
}
.reply .reply__column:first-child,
.reply .fa-face-laugh-wink,
.reply button {
    transition: opacity 0.3s ease-in-out
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-laugh-wink,
.reply:focus-within button {
    opacity: 0;
}
.reply:focus-within input {
    width: 98vw;
    transform: translateX(-13%) translateY(-80px);
} 
.reply:focus-within {
    transform: translateY(80px);
}