.icon-raw {
    border-bottom: 0px;
    padding-bottom: 40px;
}
.icon-raw__second {
    display: flex;
    padding-bottom: 45px;
}
.box {
    width: 90px;
}
.more-suggestions__title h6 {
    font-weight: 600;
}
.more-suggestions__title {
    margin-bottom: 25px;
}
.more-suggestions {
    margin-top: 20px;
    width: 419px;
}
.img-box {
    width: 42px;
    height: 42px;
    border-radius: 8px;
}
.more-suggestions__text {
    display: flex;
    color: var(--font-color);
    font-size: 13px;
    font-weight: 530;
}
.margin span {
    margin-top: 5px;
}
